{% extends "base.html" %}

{% block content %}
<h1>Exams for Course ID {{ course_id }}</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Date</th>
            <th>Weight</th>
        </tr>
    </thead>
    <tbody>
        {% for exam in exams %}
        <tr>
            <td>{{ exam['exam_id'] }}</td>
            <td>{{ exam['title'] }}</td>
            <td>{{ exam['date'] }}</td>
            <td>{{ exam['weight'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}