{% extends "base.html" %}

{% block content %}
<h1>Resources for Course ID {{ course_id }}</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Description</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
        {% for resource in resources %}
        <tr>
            <td>{{ resource['resource_id'] }}</td>
            <td>{{ resource['resource_type'] }}</td>
            <td>{{ resource['description'] }}</td>
            <td><a href="{{ resource['link'] }}">View</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}